[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      83	  0.300       0
1      6	  0.300       0
2      64	  0.300       0
3      67	  0.300       0
4      61	  0.300       0
5      154	  0.300       0
6      32	  0.300       0
7      28	  0.300       0
8      74	  0.300       0
9      6	  0.300       0
10     6	  0.300       0
11     6	  0.300       0
12     6	  0.300       0
13     6	  0.300       0
14     6	  0.300       0
15     32	  0.300       0
16     6	  0.300       0




[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        1      1	     0       0	      0        1          0	     0		0    
 1        3      1	     0       1	      0        1          0	     0		0    
 2        3      1	     0       1	      0        1          0	     0		0    
 3        3      1	     0       1	      0        1          0	     0		0    
 4        3      1	     0       1	      0        1          0	     0		0    
 5        1      2	     0.015    0	      0        1          0	     0		0    
 6        3      1	     0       1	      0        1          0	     0		0  
 7        3      1	     0       1	      0        1          0	     0		0  
 8        3      1	     0       1	      0        1          0	     0		0  
 9        3      1	     0       1	      0        1          0	     0		0  
 10       1      2	     0.015    0	      0        1          0	     0		0  
 11       1      2	     0.015    0	      0        1          0	     0		0  
 12       1      2	     0.015    0	      0        1          0	     0		0  
 13       1      2	     0.015    0	      0        1          0	     0		0  
 14       1      2	     0.015    0	      0        1          0	     0		0  
 15       1      2	     0.015    0	      0        1          0	     0		0  
 16       1      2	     0.015    0	      0        1          0	     0		0  
 17       1      2	     0.015    0	      0        1          0	     0		0  

 

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
;776         97000       10        100.00
100         12500       10        100.00














