[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      126	  0.192       0
1      50	  0.192       0
2      130	  0.192       0
[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        1      1	     0       1	      0        1          0	     0		0    
 1        2      1	     0       1	      0        1          0	     0		0    
 2        2      1	     0       1	      0        1          0	     0		0    
 3        1      2	     0.192       1	      0        1          0	     0		0    

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
30.0           15000       10        12.00
