[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      208	  600.000       0
1      230	  600.000       0
2      54	  600.000       0
3      5	  600.000       0
4      35	  600.000       0
5      123	  250.000       0
6      285	  600.000       0
7      100	  300.000       0

[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        1      1	     0       0	      0        1          0	     0		0    
 1        2      1	     0       1	      0        1          0	     0		0    
 2        2      1	     0       1	      0        1          0	     0		0    
 3        3      1	     0       1	      0        1          0	     0		0    
 4        3      1	     0       1	      0        1          0	     0		0    
 5        2      1	     0       1	      0        1          0	     0		0    
 6        1      2	     0.6       0	      0        1          0	     0		0    
 7        1      2	     0.25       0	      0        1          0	     0		0    
 8        1      2	     0       1	      0        1          0	     0		0    

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
300.0         60000    10        100.00
