[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      50	  0.600       0

[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------   
 0        1      0	     0         0	      0        1          0	     0		0    
 1        1      2	     0.1       0	      0        1          0	     0		0  
 
[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
0.05           1000       10        200.00
