[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      100	  1.000       0
1      100	  1.000       0
2      100	  1.000       0
3      100	  1.000       0
4      100	  1.000       0
[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        1      1	     0       0	      0        1          0	     0		0    
 1        3      1	     0       1	      0        1          0	     0		0    
 2        3      1	     0       1	      0        1          0	     0		0    
 3        1      2	     0.5       0	      0        1          0	     0		0    
 4        1      2	     0.5       0	      0        1          0	     0		0    
 5        1      2	     0.5       0	      0        1          0	     0		0    

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
800.0000         10000       10        10.00
