[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      50	  0.500       0
1      50	  0.500       0
2      50	  0.800       0
[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        3      1	     0       1	      0        1          0	     0		0    
 1        1      1	     0       1	      0        1          0	     0		0    
 2        1      1	     0       1	      0        1          0	     0		0    
 3        1      1	     0       1	      0        1          0	     0		0    

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
12.000000         60000       10        100.00
