[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
0      100	  0.001       0
1      100	  0.001       0
2      100	  0.001       0
3      100	  0.001       0
4      100	  0.001       0


[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--}             | {------for junction3s-------}|
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
 0        1      1	     0       0	      0        1          0	     0		0    
 1        2      1	     0       1	      0        1          0	     0		0    
 2        3      1	     0       1	      0        1          0	     0		0    
 3        1      2	     0       0	      0        1          0	     0		0  
 4        2      1	     0       1	      0        1          0	     0		0  
 5        1      2	     0       0	      0        1          0	     0		0

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
800.000000         120000       10        100.00
