[PIPE_INFO]
;-------------------------------------------
;initial  initial
; ID    N       h       Q
;-------------------------------------------
0    59   0.00100   0.000
1    147   0.00100   0.000
2    40   0.00100   0.000

[JUNCTION_INFO];-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}|
;ID     jtype   bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
0     1     1     0     0     0     1     0     0     0
1     1     2     0     0     0     1     0     0     0
2     3     0     0     1     0     1     0     0     0
3     1     2     0.3     0     0     1     0     0     0

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
1000.000       100000         200        90.0
