[PIPE_INFO]
;-------------------------------------------
;initial  initial
; ID    N       h       Q
;-------------------------------------------
0    119   0.001000   0.00
1    295   0.001000   0.00
2    82   0.001000   0.00

[JUNCTION_INFO];-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}|
;ID     jtype   bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
0     1     1     0     0     0     1     0     0     0
1     1     2     0     0     0     1     0     0     0
2     3     0     0     1     0     1     0     0     0
3     1     2     0     0     0     1     0     0     0

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
3600.000       4500000         10        100.0